record(mbbi, "Cryo-$(SUBS):$(DEV):$(SIG)") {
  field (DTYP, "S7plc")
  field (INP,  "@Cryo-Linde/$(OFFS) T=BYTE")
  field (SCAN, "I/O Intr")
  field (NOBT, "2")
  field (SHFT, "$(SHFT)")
  field (ZRVL, "0")
  field (ONVL, "1")
  field (TWVL, "2")
  field (ZRST, "$(ZRST)")
  field (ONST, "$(ONST)")
  field (TWST, "$(TWST)")
  field (UNSV, "MINOR")
  field (DESC, "$(DESC)")
  field (SIMS, "INVALID")
}

